#link-box {
  display: block;
  position: relative;
  columns: 2;
}
#link-box::before {
  content: ' ';
  width: 5px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-left: 8px solid rgba(0,0,0,0.3);
  border-right: 2px solid rgba(0,0,0,0.3);
}
.link-item {
  display: flex;
  height: 150px;
  margin-bottom: 1.5em;
  position: relative;
}
.link-item img {
  height: 150px;
  width: 150px;
  max-width: 30%;
  object-fit: cover;
  filter: grayscale(50%);
  opacity: 0.8;
  flex-shrink: 0;
}
.link-item ul {
  position: relative;
  transition: all 0.5s;
  padding-left: 0;
  margin-left: 1.5em;
  width: 100%;
}
.link-item ul::before {
  transition: all 0.5s;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  content: " ";
  background-image: linear-gradient(rgba(255,255,255,0), rgba(250,250,250,0.7) 90%);
}
.link-item .link-title {
  width: 100%;
  background: rgba(0,0,0,0.3);
  color: #000;
  z-index: 1;
  transition: all 0.5s;
  text-shadow: none;
}
.link-item .link-title::before {
  content: " ";
  vertical-align: middle;
  display: inline-block;
  width: 0.8em;
  height: 0.8em;
  background-color: #000;
  margin: 0 0.5em 0.2em 0.5em;
  transition: all 0.5s;
}
.link-item li:last-child {
  padding-left: 2em;
  margin-top: 1em;
  text-shadow: none;
  color: d-gray;
  transition: all 0.5s;
}
.link-item:hover img,
.link-item:hover ul::before,
.link-item:hover .list-pointer {
  opacity: 1;
}
.link-item:hover .link-title {
  background: #000;
  color: l-gray;
}
.link-item:hover .link-title::before {
  background: l-gray;
}
.link-item:hover li:last-child {
  color: #000;
}
